.main-box {
  width: 100%;
  height: 100vh;
  border: 1px solid tomato;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.firstParagraph {
  width: 80%;
  height: 18vh;
  border: solid 3px blue;
  display: flex;
  align-items: center;
}

.virtualTuor {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: row;
  border: dashed 3px black;
}

.tuorDescription {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 3px red;
}
.tuorDescription p {
  display: flex;
  justify-content: flex-start;
  text-align: justify;
}
